# Base de données courante (StationCourante)
DB_COURANTE_HOST=localhost
DB_COURANTE_PORT=3306
DB_COURANTE_NAME=StationCourante
DB_COURANTE_USER=station_user
DB_COURANTE_PASSWORD=station_pass_secure

# Base de données archive (Archive)
DB_ARCHIVE_HOST=localhost
DB_ARCHIVE_PORT=3307
DB_ARCHIVE_NAME=Archive
DB_ARCHIVE_USER=station_user
DB_ARCHIVE_PASSWORD=station_pass_secure

# Environnement
ENVIRONMENT=development
